staticfiles

*.sqlite
*.sqlite-journal
*.sqlite3

# Node
/npm-debug.log
/node_modules

__pycache__

MANIFEST
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports, caches
.pytest_cache
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

docs/_build
.*sw?
.vagrant
