language: python
python:
- '2.7'
install:
- pip install -r requirements-dev.txt
- pip install .
script: py.test -vv tests/
after_success: curl -X POST http://readthedocs.org/build/nsot
notifications:
  slack:
    secure: UdmH92LEpYke+NnslEx5lE4vjuqu719Wl5OPQPHPUACaKb1teA2yew5YjR/GxWh0Gy9nOcxpSL6xw1ODj3v6EzjvtVAcOzScFHbYUemdWlPLlYE5r9/rYIYVEChYIPQJ3uEhPJRys9ugXcZBdH2vgeXF4FW8Ftjxoqd+XCExB04=
sudo: false
