-r requirements.txt
mrproxy==0.3.3
py==1.4.26
pytest==2.6.4
Pygments==2.0.1
Sphinx==1.2.3
argh==0.26.1
docutils==0.12
livereload==2.3.2
pathtools==0.1.2
sphinx-autobuild==0.4.0
watchdog==0.8.2
requests==2.5.1
sphinxcontrib-httpdomain==1.3.0
sphinx-rtd-theme==0.1.6
