<div class="form-group" ng-class="{
    'has-error' : networkForm.cidr.$invalid,
    'has-success' : networkForm.cidr.$valid,
}">
    <input type="text"
           class="form-control"
           name="cidr"
           placeholder="Network (required)"
           ng-model="network.cidr"
           ng-minlength="1"
           required
    >
</div>
<h4 class="form-subheading">Attributes</h4>

<div class="row" ng-repeat="(idx, attr) in attributes
                            |filter:{required:true}">
    <div class="col-sm-5">
        <select name="attribute" class="form-control" disabled>
            <option>[[attr.name]]</option>
        </select>
    </div>
    <div class="col-sm-6" style="padding-left: 0px;">
        <div class="form-group"
             ng-class="{
                'has-error' : networkForm['value_' + $index].$invalid,
                'has-success' : networkForm['value_' + $index].$valid,
             }">
            <input type="text"
                   class="form-control"
                   name="value_[[$index]]"
                   placeholder="Value (required)"
                   ng-model="network.attributes[attr.name]"
                   required
            >
        </div>
    </div>
</div>

<div class="row" ng-repeat="form_attr in form_attrs">
    <div class="col-sm-5">
        <select
            name="attribute"
            class="form-control"
            required
            ng-model="form_attr.name">
            <option value="" disabled selected></option>
            <option value="[[attr.name]]"
                    ng-repeat="(idx, attr) in attributes
                               |filter:{required:false}">
                [[attr.name]]
            </option>
        </select>
    </div>
    <div class="col-sm-6" style="padding-left: 0px;">

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   name="value"
                   placeholder="Value"
                   ng-model="form_attr.value"
                   required
            >
        </div>
    </div>
    <div class="col-sm-1">
        <span class="attr-buttons">
            <span class="fa fa-lg fa-minus-circle rm-attr-btn"
                  ng-click="removeAttr($index);"
            ></span>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-right">
        <a ng-click="addAttr()" class="add-attr-btn">
            Add an attribute
            <i class="fa fa-lg fa-plus-circle add-attr-btn"></i>
        </a>
    </div>
</div>
