<div ng-if="loading">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default panel-nsot notification-box">
            <div class="panel-heading"><strong>
                Loading...
            </strong></div>
            <div class="panel-body text-center">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
        </div>
    </div>
</div>
<div ng-if="!loading">
    <div ng-if="!sites.length" class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default panel-nsot notification-box">
            <div class="panel-heading"><strong>
                Welcome
            </strong></div>
            <div class="panel-body">
                Welcome to the Network Source of Truth. It looks like you're new
                here. Lets start by creating a <em>site</em> which will be a namespace
                for all of your data.
                <hr>
                <form novalidate class="nsot-form">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"i
                               placeholder="Name"
                               ng-model="site.name"
                               required
                        >
                    </div>
                    <div class="form-group">
                        <textarea style="resize: vertical;"
                                  class="form-control"
                                  rows="5"
                                  placeholder="Description"
                                  ng-model="site.description"
                        >
                        </textarea>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-right">
                <button type="submit"
                        ng-click="createSite(site)"
                        class="btn btn-primary"
                >Create</button>
            </div>
        </div>
    </div>
    <div ng-if="sites.length" ng-repeat="site in sites" class="col-sm-6 col-sm-offset-3">[[site.name]]
    </div>
</div>
