<loading-panel ng-if="loading"></loading-panel>
<div ng-if="!loading">
    <heading-bar heading="Network">
        <dropdown ctxt-obj="limiter"></dropdown>
        <paginator pager="pager"></paginator>

        <button
            class="btn btn-success"
            data-toggle="modal"
            data-target="#createNetworkModal"
            ng-if="admin"
        >Create Network</button>
    </heading-bar>

    <nsot-modal title="Create Network" modal-id="createNetworkModal">
        <div class="modal-body">
            <div ng-if="error" class="alert alert-danger">
                [[error.code]] - [[error.message]]
            </div>
            <form novalidate name="networkForm" class="nsot-form">
                <div class="form-group" ng-class="{
                    'has-error' : networkForm.name.$invalid,
                    'has-success' : networkForm.name.$valid,
                }">
                    <input type="text"
                           class="form-control"
                           name="cidr"
                           placeholder="Network (required)"
                           ng-model="network.cidr"
                           ng-minlength="1"
                           required
                    >
                </div>
                <h4 class="form-subheading"> Attributes </h4>
                <div class="form-group" ng-repeat="(idx, attr) in attributes
                                                   |filter:{required:true}">
                    <div class="row">
                        <div class="col-sm-5 text-right">
                            <h4>[[attr.name]]</h4>
                        </div>
                        <div class="col-sm-6" style="padding-left: 0px;">
                            <input type="text"
                                   class="form-control"
                                   name="value"
                                   placeholder="Value (required)"
                                   ng-model="network.attributes[attr.name]"
                                   required
                            >
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-repeat="form_attr in form_attrs">
                    <div class="row">
                        <div class="col-sm-5">
                            <select
                                name="attribute"
                                class="form-control"
                                ng-model="form_attr.name">
                                <option value="" disabled selected></option>
                                <option value="[[attr.name]]"
                                        ng-repeat="(idx, attr) in attributes
                                                   |filter:{required:false}">
                                    [[attr.name]]
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-6" style="padding-left: 0px;">
                            <input type="text"
                                   class="form-control"
                                   name="value"
                                   placeholder="Value"
                                   ng-model="form_attr.value"
                            >
                        </div>
                        <div class="col-sm-1">
                            <span class="attr-buttons">
                                <span class="fa fa-lg fa-minus-circle rm-attr-btn"
                                      ng-click="removeAttr($index);"
                                ></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <a ng-click="addAttr($index)" class="add-attr-btn">
                            Add an attribute
                            <i class="fa fa-lg fa-plus-circle add-attr-btn"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button>
            <button type="submit" ng-click="createNetwork(network)"
                    class="btn btn-primary" ng-disabled="networkForm.$invalid"
            >
                Create
            </button>
        </div>
    </nsot-modal>

    <div class="row" class="row"><div class="col-sm-10 col-sm-offset-1">
        <panel>
            <panel-heading>Networks</panel-heading>
            <panel-body ng-if="!networks.length" class="text-center">
                No Networks
            </panel-body>
            <panel-body ng-if="networks.length">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-sm-3">Network Address</th>
                            <th class="col-sm-1">Prefix Length</th>
                            <th class="col-sm-1">Ip Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="network in networks">
                            <td>
                                <a href="/sites/[[siteId]]/networks/[[network.id]]"
                                >[[network.network_address]]</a>
                            </td>
                            <td>[[network.prefix_length]]</td>
                            <td>
                                <i ng-if="network.is_ip" class="fa fa-check"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </panel-body>
        </panel>

    </div></div>


</div>
