<!DOCTYPE html>
{% autoescape true %}
<html lang="en" ng-app="nsotApp">
    <head>
        <title>NSoT</title>

        <link href="{{cdnjs_prefix}}/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css"
              rel="stylesheet"
              media="screen">
        <link href="{{cdnjs_prefix}}/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"
              rel="stylesheet"
              media="screen">
        <link href="/static/css/nsot.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" ng-controller="navigationController">
                <nav class="navbar navbar-static-top navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button"
                                class="navbar-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#nsot-navbar"
                        >
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/">Network Source of Truth</a>
                    </div>
                    <div class="collapse navbar-collapse" id="nsot-navbar">
                        <ul class="nav navbar-nav">
                            <li ng-class="{active: isActive('/sites')}">
                                <a title="Sites" href="/sites">Sites</a>
                            </li>
                        </ul>
                        <ul ng-if="siteId" class="nav navbar-nav">
                            <li class="divider-vertical"></li>
                            <li ng-class="{
                                active: isActive('/sites/[[siteId]]/networks')
                            }">
                                <a title="Networks" ng-href="/sites/[[siteId]]/networks">
                                    Networks
                                </a>
                            </li>
                            <li ng-class="{
                                active: isActive('/sites/[[siteId]]/attributes')
                            }">
                                <a title="Attributes" ng-href="/sites/[[siteId]]/attributes">
                                    Attributes
                                </a>
                            </li>
                            <li ng-class="{
                                active: isActive('/sites/[[siteId]]/changes')
                            }">
                                <a title="Changes" ng-href="/sites/1/changes">
                                    Changes
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a title="Users" href="/users">Users</a></li>
                            <li class="active"><a
                                title="Documentation"
                                href="http://nsot.readthedocs.org/en/latest/">
                                    <i class="fa fa-question-circle fa-lg"></i>
                            </a></li>
                            <li class="active"><a
                                title="Source (GitHub)"
                                href="https://github.com/dropbox/nsot">
                                    <i class="fa fa-github fa-lg"></i>
                            </a></li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="row">
                <div class="col-sm-12 col-sm-offset-0">
                    <div id="content">
                        <ng-view></ng-view>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{cdnjs_prefix}}/ajax/libs/angular.js/1.3.8/angular.js"></script>
        <script src="{{cdnjs_prefix}}/ajax/libs/angular.js/1.3.8/angular-route.js"></script>
        <script src="{{cdnjs_prefix}}/ajax/libs/angular.js/1.3.8/angular-resource.js"></script>
        <script src="{{cdnjs_prefix}}/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="{{cdnjs_prefix}}/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{{cdnjs_prefix}}/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="{{cdnjs_prefix}}/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
        <script src="/static/js/nsot.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/services.js"></script>
        <script src="/static/js/filters.js"></script>
        <script src="/static/js/controllers.js"></script>
        <script src="/static/js/directives.js"></script>
    </body>
</html>
{% endautoescape %}
