<loading-panel ng-if="loading"></loading-panel>
<div ng-if="!loading">
    <heading-bar heading="Network"
        subheading="[[network.network_address]]/[[network.prefix_length]]">
        <button ng-if="admin"
            class="btn btn-info"
            data-toggle="modal"
            data-target="#updateNetworkModal"
        >Update Network</button>
        <button ng-if="admin"
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#deleteNetworkModal"
        >Delete Network</button>
    </heading-bar>

    <div class="row"><div class="col-sm-12"><div class="adv-buttons">
        <button class="btn btn-default"
                ng-click="filters.root_only = !filters.root_only"
                ng-class="{active: filters.root_only}"
        >Root Only</button>
        <div class="btn-group" role="group">
            <button class="btn btn-default"
                    ng-click="filters.include_networks = !filters.include_networks"
                    ng-class="{active: filters.include_networks}"
            >Networks</button>
            <button class="btn btn-default"
                    ng-click="filters.include_ips = !filters.include_ips"
                    ng-class="{active: filters.include_ips}"
            >IPs</button>
        </div>

        <form style="display: inline;" method="get" action="">
            <input type="hidden" name="root_only" ng-value="filters.root_only">
            <input type="hidden" name="include_ips" ng-value="filters.include_ips">
            <input type="hidden" name="include_networks" ng-value="filters.include_networks">
            <input type="submit" class="btn btn-primary" value="Update Filters">
        </form>
    </div></div></div>

    <div class="row">
        <div class="col-sm-4">
            <panel>
                <panel-heading>
                    Attributes
                </panel-heading>
                <panel-body>
                    <dl class="dl-horizontal">
                        <dt ng-repeat-start="(key, value) in network.attributes">[[key]]</dt>
                        <dd ng-repeat-end>[[value]]</dd>
                    </dl>

                </panel-body>
            </panel>
        </div>
        <div class="col-sm-8">



            <panel>
                <panel-heading>
                    Subnetworks
                </panel-heading>
                <panel-body>
                    Coming Soon!
                </panel-body>
            </panel>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12">
            <panel>
                <panel-heading>
                    Recent Changes
                </panel-heading>
                <panel-body>
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-1">ID</th>
                                <th class="col-sm-2">User</th>
                                <th class="col-sm-1">Event</th>
                                <th class="col-sm-2">Change At</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="change in changes">
                                <td>
                                    <a ng-href="/sites/[[siteId]]/changes/[[change.id]]">
                                        [[change.id]]
                                    </a>
                                </td>
                                <td>[[change.user.email]]</td>
                                <td>[[change.event]]</td>
                                <td>[[change.change_at|from_now]]</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center">
                                    <a ng-href="/sites/[[siteId]]/changes?resource_name=Network&resource_id=[[network.id]]">
                                        More
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </panel-body>
            </panel>
        </div>
    </div>

    <nsot-modal title="Update Network" modal-id="updateNetworkModal" modal-size="large">
        <div class="modal-body">
            <div ng-if="updateError" class="alert alert-danger">
                [[updateError.code]] - [[updateError.message]]
            </div>
            <form novalidate name="networkForm" class="nsot-form">
                <div ng-include="formUrl"></div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button>
            <button type="submit" ng-click="updateNetwork()"
                    class="btn btn-primary" ng-disabled="networkForm.$invalid"
            >
                Update
            </button>
        </div>
    </nsot-modal>

    <nsot-modal title="Delete Network" modal-id="deleteNetworkModal">
        <div class="modal-body">
            <div ng-if="deleteError" class="alert alert-danger">
                [[deleteError.code]] - [[deleteError.message]]
            </div>
            Are you sure you want to delete this network?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button>
            <button type="submit"
                    ng-click="deleteNetwork()"
                    class="btn btn-primary"
            >
                Delete
            </button>
        </div>
    </nsot-modal>



</div>
