<script type="text/javascript">
     window.NSOT_VERSION = '{{NSOT_VERSION}}';
</script>

<script src="/static/build/vendor/angular/angular.min.js"></script>
<script src="/static/build/vendor/angular-route/angular-route.min.js"></script>
<script src="/static/build/vendor/angular-resource/angular-resource.min.js"></script>
<script src="/static/build/vendor/ng-tags-input/ng-tags-input.min.js"></script>
<script src="/static/build/vendor/lodash/lodash.min.js"></script>
<script src="/static/build/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/build/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/build/vendor/moment/min/moment.min.js"></script>

<script src="/static/build/js/app.min.js"></script>
<!-- Non - working Charting JS libraries - install from scratch

<script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="http://www.amcharts.com/lib/3/pie.js"></script>
<script src="http://www.amcharts.com/lib/3/themes/none.js"></script>
<script src="node_modules/angular-morris-chart/src/angular-morris-chart.min.js"></script>

<script src="nsot/static/build/js/morris-chart.js"></script>
-->
